.search {
  position: absolute;
  right: 30px;
  width: 18rem;
  border: none;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  @media (max-width: 768px){
    width: 10rem;
  }
}

.search:focus {
  outline: none;
}

.hide {
  width: 0;
  opacity: 0;
}
